@import "tailwindcss";

#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: "GoogleSans Light";
  src: url("/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: "GoogleSans Regular";
  src: url("/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: "GoogleSans SemiBold";
  src: url("/fonts/GoogleSans-SemiBold.ttf");
}
@font-face {
  font-family: "GoogleSans Medium";
  src: url("/fonts/GoogleSans-Medium.ttf");
}

@theme {
  --font-light: GoogleSans Light, "sans-serif";
  --font-reg: GoogleSans Regular, "sans-serif";
  --font-sb: GoogleSans SemiBold, "sans-serif";
  --font-med: GoogleSans Medium, "sans-serif";
}
